In [2]:
print("Hello World!")

print(1)

Hello World!
1

In [3]:
a= "Hello Python"
print(a)

Hello Python

# Variable Types in Python

In [4]:
#Standard data types of variables

#Numbers

var1=10
var2=10.1
print(var1,var2)

10 10.1

In [5]:
#string type of variable

name="thejesh"
print(name)

thejesh

In [6]:
#string value   t h e j e s h
#Index          0 1 2 3 4 5 6
print(name[1])

h

In [7]:
print(name[0:4])

thej

In [8]:
print(name[0:])

thejesh

In [9]:
print(name[-1])

h

In [10]:
print(name[-2])

s

In [11]:
#String Concatenation

var1= "Machine"
var2="Learing"
var3=var1+var2
print(var3)

MachineLearing

In [12]:
#Boolean
a= True
type(a)

bool

In [13]:
b=False
type(b)

bool

In [14]:
#Example
a = 10
b = 20
 
# Comparing variables
print(a == b)

False

In [15]:
#Conditional statements

salary=55000

if salary>5000:
    print("Loan Approved")
else:
    print("rejected")

Loan Approved

In [16]:
#while loop- Execute the statements "while" condition is true

i=0

while i<10:
    print(i)
    i+=2

0
2
4
6
8

In [17]:
#Boolean variable in while loop

i=0
var1=True
while var1:
    print(i)
    i+=2
    if i >=10:
        var1=False

0
2
4
6
8

In [18]:
#FOR LOOP- execute the block as long as there's a value in the sequence

a= 'thej'

for i in a:
    print(i)

t
h
e
j

In [19]:
for i in range(0,10,2):
    print(i)
else:
    print("out side the for loop",str(i))

0
2
4
6
8
out side the for loop 8

In [20]:
#List- Sequence of elements

list1=['thej','sree','lilk']
list1

['thej', 'sree', 'lilk']

In [21]:
#Declare and initilaise lists

list=['thej','sree','likh']

#aceess a element of list

print(list[2])

likh

In [22]:
#Basic operations on list

#Add an element to a list using Append

list.append("vicky")

list

['thej', 'sree', 'likh', 'vicky']

In [23]:
#update an element

list[1]='Bella'

list

['thej', 'Bella', 'likh', 'vicky']

In [24]:
#delete an element

del list[3]

list

['thej', 'Bella', 'likh']

In [25]:
#Get the length of the list
len(list)

3

In [26]:
#Concatenate two lists

list2=['a','b','c']
conlist=list+list2
print(conlist)

['thej', 'Bella', 'likh', 'a', 'b', 'c']

In [27]:
#sort the contnet of the list

list.sort()
list

['Bella', 'likh', 'thej']

In [28]:
#Multi dimensional lists

twoDlist=[['thej','sree','likhin'],[123,456,789]]
print(twoDlist)

[['thej', 'sree', 'likhin'], [123, 456, 789]]

In [29]:
print(twoDlist[0])

['thej', 'sree', 'likhin']

In [30]:
print(twoDlist[0][1])

sree

In [31]:
print(twoDlist[1][1])

456

In [32]:
#Slicing of Multi dimensional lists

sublist=[]
for list1 in twoDlist:
    sublist.append(list1[1:3])
    
print(sublist)

[['sree', 'likhin'], [456, 789]]

In [33]:
#Tuples

t=(1,2,3)

print(t[1])

2

In [34]:
len(t)

3

In [35]:
#Dictionary

Address={'street':'RV NAGAR', 'State':'Karnataka','City':'Mangalore'}

print(Address['State'])

Karnataka

In [36]:
#Update the value using key

Address['street']='Gandhi nagar'

In [37]:
print(Address['street'])

Gandhi nagar

In [38]:
#Add key - value pair to existing DICT

Address['zip']=574227

In [39]:
Address

{'street': 'Gandhi nagar',
 'State': 'Karnataka',
 'City': 'Mangalore',
 'zip': 574227}

In [40]:
#Delete key - value pair DICT

del Address['zip']

In [41]:
Address

{'street': 'Gandhi nagar', 'State': 'Karnataka', 'City': 'Mangalore'}

In [42]:
#Get the length of the dict

len(Address)

3

In [43]:
#convert dict into strings

str(Address)

"{'street': 'Gandhi nagar', 'State': 'Karnataka', 'City': 'Mangalore'}"

In [44]:
#Get the list of all the keys

print(Address.keys())

dict_keys(['street', 'State', 'City'])

In [45]:
#Get values

print(Address.values())

dict_values(['Gandhi nagar', 'Karnataka', 'Mangalore'])

In [46]:
#Functions

def myFunction():
    print("This is my first function")
    
myFunction()

This is my first function

In [47]:
#Function for multiplication

def multiply(num1,num2):
    result=num1*num2
    return result


num1=int(input("enter first number:"))
num2=int(input("enter second number:"))

result= multiply(num1,num2)
print("Multiplication is", result)

enter first number:2
enter second number:2
Multiplication is 4

In [2]:
#Local and Global variables

def myFunction():
    var1=15
    var2=45
    print("Var1 inside the function",var1)
    print("Var2 inside the function",var2)
    
    
#Main progeam

var2=10
myFunction()
print("Var2 outside the function",var2)

Var1 inside the function 15
Var2 inside the function 45
Var2 outside the function 10

In [2]:
#Class and it's objects

class Student:
    def hello(self):
        print("Hello student")

s1=Student()
s1.hello()

Hello student

In [3]:
#Creating attributes

class Student:
    #create attribute of class
    def __init__(self,fname,lname,gender,enrno):
        self.fname=fname
        self.lname=lname
        self.gender=gender
        self.enrno=enrno
    def hello(self):
        print("Hello ", self.fname)

s1=Student("John","Smith","m","e001")
s1.hello()

print(s1.enrno)

Hello  John
e001